.p-imgbreak {
    justify-content: center;
    display: flex;
    width: 100%;
    img {
        object-fit: cover;
        height: 100%;
        width: 100%;
    }
    &-duo {
        gap: $spacer-sm;
        @include media-breakpoint-up(lg){
            gap: $spacer-xl;
        }
        .c-imgBreak-1 {
            transform: translateY(#{$spacer-dl});
            @include media-breakpoint-down(lg){
            height: 40vh;
            }
           
        }
        .c-imgBreak-2 {
            @include media-breakpoint-down(lg){
                height: 20vh;
            }

        }
    }
}