.p-story {
    position: relative;
    &:after {
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        height: 100%;
        width: 100%;
        background-size: cover;
        background: url('../images/storytailors_bg.webp') center center no-repeat;
        opacity: 0.3;
        background-position: center center;
        @include media-breakpoint-up(lg){
            width: 30%;
            opacity: 1;
        }
    }
}