.c-clientlist {
    flex-wrap: wrap;
    li {
        padding: $spacer-sm;
        @include media-breakpoint-up(md){
            padding: $spacer-md;
        }
        img {
            max-height: 30px;
        }
    }
}