.c-casestudy {
    text-decoration: none;
    color: $black;
    display: flex;
    flex-direction: column;
    will-change: color;
    transition: $transition;
    padding: $spacer-lg 0;
    position: relative;
    border-bottom: 1px solid $black;
   
    div {
        flex-shrink: 0;
    }
    &__details {
        width: 100%; 
       margin-bottom: $spacer-sm;
        p {
            margin-bottom: 0;
            line-height: 1.3
        }
        &__number {
            font-family: $en-font;
            color: $red;
            font-size: $fs9;
            font-weight: $en-font-med;

        }
        &__location {
            margin-top: $spacer-xs;
        }

    }
    &__visual {
        width: 100%;  
        border-radius: $border-radius;
        margin-bottom: $spacer-sm;
        overflow: hidden;
        -webkit-mask-image: -webkit-radial-gradient(white, black);        
        img {
            transform: scale(1.05);
            transition: 0.5s ease-in-out;
            filter: grayscale(50%);
            will-change: scale;

            

        }
    }
    &__content {
        width:100%; 
        transition: $transition;
        will-change: color;
        &__title {
           font-size: $fs5;
            margin-bottom: $spacer-xs;
        }
        &__client {
            font-weight: 500;
            font-size: $fs7;
        }
    }
    &__icon {
        position: absolute;
        bottom: 0;
        right: 0;
        height: $spacer-lg;
        width: $spacer-lg;
        &__arrow {
            fill: $black;
            transition: fill 0.3s ease-in-out;
        }
    }
    &:hover {
       color: $black;
       border-color: $red;
       .c-casestudy__visual {
            img {
                transform: scale(1);
                filter: grayscale(0%);
            }
       }
       .c-casestudy__icon__arrow {
        fill: $red;
       }
       .c-casestudy__content {
        color: $red;
       }
    }

    // responsive
    @include media-breakpoint-up(lg){
        flex-direction: row;
        .c-casestudy {
            &__details {
                width: 18%; 
                padding-right: $spacer-xl;
            }
            &__visual {
                width: calc(32% - #{$spacer-xl});
                margin: 0 $spacer-xl 0 0;

            }
            &__content {
                width: 50%; 
            }
        }
    }

}