.c-cta-form {
    z-index: 10;
    position: relative;
    background-color: $white;
    padding: $spacer-md $spacer-sm;
    border-radius: $border-radius;
    color: $black;
    @include media-breakpoint-up(md){
        padding: $spacer-lg $spacer-md; 
    }
    @include media-breakpoint-up(lg){
        padding: $spacer-xl $spacer-dl;
    }
    .required {
        color: $red;
    }
}
