.c-logo {
    .logo_nippon {
        fill: $white;
        transition: $transition;
    }
    .logo_bg {
        fill: $white;
        transition: $transition;
    }
    .logo_production {
        fill: $black;
        transition: $transition;
    }
    
}
.is-active,
.scrolled,
.is-scrolled {
    .c-logo {
        .logo_nippon {
            fill: $black;
        }
        .logo_bg {
            fill: $red;
        }
        .logo_production {
            fill: $lgray;
        }
    }
}