.c-network {
    padding: $spacer-xs;
    width: calc(100%/2);
    margin:  0;
    @include media-breakpoint-up(lg){
        width: calc(100%/6);
        margin: $spacer-sm 0;
    }
    a {
        display: block;
        text-decoration: none;
        color: $black;
        &:hover {
         img {
            transform: scale(1);
            filter: grayscale(0%);
         }   
        }
    }
    &__img {
        overflow: hidden;
        position: relative;
        width: 100%;
        height: $spacer-dl;
        border-radius: $border-radius;
        -webkit-mask-image: -webkit-radial-gradient(white, black);  
        &:after {
            content: "";
            display: block;
            padding-bottom: 100%;
        }
        &__src {
            position: absolute;
            width: 100%;
            height: 100%;
            img {
            object-fit: cover;
            height: 100%;
            width: 100%;
                will-change: transform;
                transform: scale(1.05);
                transition: all 0.5s ease-in-out;
                filter: grayscale(50%);
                
                
            }
        }
    }
    &__content {
        margin-top: $spacer-xxs;
        @include media-breakpoint-up(lg){
            margin-top: $spacer-xs;
        }
        &__title {
            font-size: $fs7;
            span {
                font-size: $fs9;
                display: block;
                font-family: $en-font;
                font-weight: $en-font-light;
                color: $red;
                line-height: 1.5;
            }
        }
    }
    
}