.c-team__sns {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
   
        position: absolute;
        left: 4px ;
        top: calc(#{$spacer-xs} * 3) ;
        display: block;
   
   &__li {
    a {
        background-color: #0077b5;
        display: inline-block;
        width: $spacer-lg;
        height: $spacer-lg;
        transition: transform 0.3s ease-in-out;
        transform: translateX(0px);
     
        img {
            object-fit: cover;
            height: 100%;
            width: 100%;
            display: block;
        }
        &:hover {
            transform: translateX(10px);
        }
    }
   }
}